.end-result{
  position: absolute;
  z-index: 10;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.almost-end-result{
  position: absolute;
  z-index: 10;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.sketch{
  position: absolute;
  z-index: 10;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.sketch-two{
  position: absolute;
  z-index: 10;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}